---
import Sidebar from '../../components/sidebar.svelte';
import Layout from '../../layouts/baseLayout.astro';
const posts = await Astro.glob('./nyheter/*.md')

// log om man vill kolla
// posts.map((post) => {
// 	console.log('post här ', post)
// })
---
<Layout title="Kodvet är bäst" active={Astro.url.pathname}>
    <Sidebar frontmatters={posts.map(({ frontmatter }) => frontmatter)}/>
        <div class="container">
            <section id="inlägg">
                {posts.map(async ({ frontmatter, Content }) =>
                <div class="scrollAnchor" id={frontmatter.title}></div>
                <div class="post">
                <h1>{frontmatter.title}</h1>
                <Content/>
                </div>)}
            </section>
        </div>
</Layout>

<style>

	/* dessa funkar som "ankare" för att autoscrolla till */
	.scrollAnchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
	}
	#inlägg {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		gap: 100px;
	}
	.post {
		align-self: center;
		background-color: gainsboro;
		border-radius: 20px;
		text-align: center;
		width: 20%;
	}
</style>


