---
import Layout from '../../layouts/Layout.astro';

---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active="student">
	<main>
	</main>
</Layout>

<style>
	:root {
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

</style>
