---
import Sidebar from '../../components/sidebar.svelte';
import Layout from '../../layouts/baseLayout.astro';
const posts = await Astro.glob('./*.md')
export let pageData = {
	btnName: "Kontakt",
	url: "/kontakt",
	childPages: (import.meta.glob('./*.astro', { import: "pageData", eager: true}))
};

// log om man vill kolla
// posts.map((post) => {
// 	console.log('post här ', post)
// })
---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<main>
		<Sidebar frontmatters={posts.map((post) => post.frontmatter)}/>
		<section id="inlägg">
			{posts.map(async (Post) =>
			<div class="anchor" id={Post.frontmatter.title}></div>
			<div class="container">
			<h1>{Post.frontmatter.title}</h1>
			<Post.Content/>
			</div>)}
		</section>
		
	</main>
</Layout>

<style>

	/* dessa funkar som "ankare" för att autoscrolla till */
	.anchor {
    display: block;
    position: relative;
    top: -125px;
    visibility: hidden;
	}
	#inlägg {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
		gap: 100px;
	}
	.container {
		align-self: center;
		background-color: gainsboro;
		border-radius: 20px;
		text-align: center;
		width: 20%;
	}
</style>
