---
import Layout from '../../layouts/baseLayout.astro';

---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active="student">
	<main>Hej
	</main>
</Layout>

<style>
	.container {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

</style>