---
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');
---

<div class="container">
    <img id= "heroimg" src={baseUrl + "/images/Skärmavbild 2020-09-25 kl. 11.07 1.png"}>
    <div class="herotxt">
        <img id= "logo" src={baseUrl + "/images/Sektionslogga 1.png"}>
        <p id="title">Kogvet</p>
        <p>Sektionen för de kognitionsvetenskapliga programmen på Linköpings universitet</p>
    </div>



</div>






<style>
    #heroimg{
        display:block;
        width:100%;
        height: 120%;
        position: relative;
    }

    .herotxt{
        top:9%;
        left:0%;
        right:0%;
        margin:auto;
        text-align: center;
        position: absolute;
        width: 50%;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

    }

    .herotxt p{
        font-size: 150%;
    }

    #title{
        font-size: 300%;
    }

    #logo{
        width:30%;
        height: 30%;
    }

</style>