@container (max-width: 500px) {
    .container {
        width: 295px !important;
        height: fit-content !important;
    }
    article {
        flex-direction: column !important;
    }
    .excerpt {
        -webkit-line-clamp: 13 !important;
    }
}