---

---
<button>
    <slot/>
</button>
<style>
    button {
        font-size: 20px;
        background-color: transparent;
        color: black;
        padding: 18px;
        border: var(--buckethat-svart) solid 1.5px;
        transition: 90ms all ease;
        
    }
    button:hover {
        background-color: hsla(340, 7%, 8%, 0.29);
    }
</style>