---
import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/content/hero.astro';

const news = await Astro.glob('../data/nyheter/*.md')
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');

// console.log(news)
---
<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname} isOpaque={true}>
	<div class="container">
		<Hero />		
	</div>
	<div class="content">
		<h1>Nyheter</h1>
		<span class="line"></span>
		{news.map(({Content, frontmatter, getHeadings}) =>
			<article>
				<span>
					<img src={""} alt=""/>
				</span>
				<span>
					<Content />
					<p>tjo</p>
					<a href={`/for-medlemmar/nyheter#${frontmatter.title}`}>länk</a>
				</span>
			</article>
		)}
	</div>
</Layout>

<style lang="scss">
	.container {
		z-index: 2;
		min-height: 100vh;
		margin-bottom: 5%;
	}
	.content {
		width: clamp(500px, 70vw, 1200px);
		margin-inline: auto;
		z-index: -1;
		.line {
			display: none;
			@media (min-width: 577px)  {
				display: block
			}
			height: 2px;
			width: 100%;
			background-color: var(--buckethat-svart);
		}
	}
</style>
