---
import Layout from '../layouts/baseLayout.astro';
export let pageData = {
	btnName: "Start",
	url: null
};
console.log("här ska det vara en url:", Astro.url)
---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<main>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {

	}

</style>
