---
import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/hero.astro'
let geturl = (() => Astro.url.pathname)
export let pageData = {
	btnName: "Start",
	url: "/"
};
console.log("här ska det vara en url  :", Astro.url)
---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<main>
		<Hero />
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {

	}

</style>
