---
import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/content/hero.astro';


const människor = {människa1: {namn: 'människa1', post: 'kung', kontakt: 'mailen@mailservice.com'},
människa2: {namn: 'människa2', post: 'fis', kontakt: 'mailen@mailservice.com'}, 
människa3: {namn: 'människa3', post: 'kung', kontakt: 'mailen@mailservice.com'}}
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');


---
<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname} isOpaque={true}>
	<div class="container">
		<Hero />
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, harum nisi magni alias dolores, nulla quis suscipit eaque soluta omnis, illum vel eveniet consequatur fugit. Quia fuga voluptate expedita quod?
		
	</div>
</Layout>

<style>
</style>
