---
import Layout from '../layouts/Layout.astro';
export const btnName = "Start"
---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active="start">
	<main>
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {

	}

</style>
