---

import Layout from '../layouts/baseLayout.astro';
import Hero from '../components/hero.astro';
import MänniskaBanner from '../components/kontakt/människaBanner.astro'
let geturl = (() => Astro.url.pathname)
export let pageData = {
	btnName: "Start",
	url: "/",
	childPages: {}
};

const människor = {människa1: {namn: 'människa1', post: 'kung', kontakt: 'mailen@mailservice.com'},
 människa2: {namn: 'människa2', post: 'fis', kontakt: 'mailen@mailservice.com'}, 
 människa3: {namn: 'människa3', post: 'kung', kontakt: 'mailen@mailservice.com'}}
 

 function row_reverse(index){
	if (index % 2==0) {
		return "right"
	}
	else{
		return "left"
	}
 }
---



<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<main>
		<Hero />
	</main>
</Layout>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {

	}

</style>
