---

---
<div class="wrapper">
    <div class="hero home-hero hero-neg py-4 bg-light">
        <div class="hero-content">
          <div class="container nav-container">
            <div class="row h-100">
              <div class="col-md-8 offset-md-2  align-self-center">
                <img src="../public/Sektionslogga 1.png" id="logo" alt="">
                <h2>Lorem ipsum dolor sit</h2>
                <hr>
                <h1>Lorem ipsum dolor sit amet, consectetur adipiscingLorem ipsum dolor sit amet, consectetur adipiscing</h1>
                <p class="text-center mt-4"><a class="btn btn-lg btn-outline-light" href="#">Learn More</a></p>
              </div>
            </div><!-- close row  -->
          </div>
        </div><!-- close hero-content -->
      </div><!-- close hero -->
    
</div>


<style>
    /* #hero {
        image-rendering: optimizeQuality;
        margin-top: 500;
        min-width: 100%;
        height: auto;
        background-attachment:fixed;
        background-repeat:no-repeat !important;
        background-position: center center;
        background-size: cover !important;
    } */
    .hero{
	/* display: table;
	width: 100%;
	height: 80vh;
	min-height: 600px;*/
	background: url('https://via.placeholder.com/1800x1200');
    background-attachment:fixed;
    background-repeat:no-repeat !important;
	background-position: center center;
	background-size: cover !important;
}
.hero-neg{
	margin-top:-200px;
	
	height:960px;
}
.hero-neg .hero-content{
 padding-top:200px;
}

.hero h1{
	font-family: "Abhaya Libre", serif;
	font-weight: 400;
	font-size: 30px;
	line-height: 1.5;
	letter-spacing: -0.0px;
	text-align: center;
	text-transform: none;
	font-style: normal;
	text-shadow: 1px 1px 0px #050100;
	color:#fff;	
}

.hero h2{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: 700;
	font-size: 55px;
	text-align: center;
	text-shadow: 1px 1px 0px #0a0600;	
	color:#fff;	
}



.home-hero {
	background-image: url(../public/Skärmavbild 2020-09-25 kl. 11.07 1.png);
}

.home-hero .hero-content .container{
	height:760px;
}
    #logo {

    }
</style>