
<div class="container">
    <img id= "heroimg" src="../public/Skärmavbild 2020-09-25 kl. 11.07 1.png">
    <div class="herotxt">
        <img id= "logo" src="../public/Sektionslogga 1.png">
        <p id="title">Kogvet</p>
        <p>Sektionen för de kognitionsvetenskapliga programmen på Linköpings universitet</p>
    </div>



</div>






<style>
    #heroimg{
        width:100%;
        height: 120%;
        position: relative;
    }

    .herotxt{
        text-align:center;
        position: absolute;
        top:9%;
        left:27%;
        width: 50%;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;

    }

    .herotxt p{
        font-size: 150%;
    }

    #title{
        font-size: 300%;
    }

    #logo{
        width:30%;
        height: 30%;
    }

</style>