---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
	const posts = await Astro.glob('./*.md');
	return posts.map((post) => {
		return {
			params: {slug: post.frontmatter.slug},
			props: {...post}
		}
	})
}


const {Content, frontmatter} = Astro.props;

---
<Layout title="Kogvet Sektionen på Linköpings Universitet" active="sektionen">
	<article>
    <h1>{frontmatter.title}</h1>
    <h2>hej</h2>
    <Content />
	</article>
</Layout>
