---
import Layout from '../../layouts/baseLayout.astro';
export let pageData = {
	btnName: "Om sektionen",
	url: null
};
---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<main>
		<h1>The current URL is: {Astro.url}</h1>
		<h1>The current URL pathname is: {Astro.url.pathname}</h1>
		<h1>The current URL origin is: {Astro.url.origin}</h1>
	</main>
</Layout>

<style>
	:root {
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}
</style>
