---
import Navbar from '../components/navbar.svelte'
import Sidebar from '../components/sidebar.svelte'

export interface Props {
	title: string;
}

const { title } = Astro.props;

---


<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<main>
			<Navbar active="start"/>
			<div>
				<Sidebar active={}/>
				<slot />
			</div>
		</main>

	</body>
</html>
<style lang="scss">
	@font-face {
		font-family: 'Gill Sans MT';
		src: url('gill-sans-mt.ttf'); 
		font-weight: normal;
		font-style: normal;
  	} 

	html {
		font-family: 'Gill Sans MT';
	}
	body {
		margin: 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
	}

</style>

<style is:global>
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>
