---
import Navbar from '../components/navbar.svelte'
import Sidebar from '../components/sidebar.svelte'
import Grid from '../components/grid.svelte'
import Mobilnavbar from '../components/mobilnavbar.svelte'
import BaseHead from '../components/baseHead.astro'
import BaseFooter from '../components/baseFooter.astro'


const pages = import.meta.glob('../pages/**/index.astro', { import: "pageData", eager: true})

console.log("inuti astro layout:print", pages)
console.log("inuti astro layout:print", pages['../pages/kontakt/index.astro'].childPages)
const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');


export interface Props {
	title: string;
	active: string;
}

const { active } = Astro.props;
const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">

	<BaseHead title={title}/>

	<body>
		<script defer type="module" src={baseUrl + "/swupApp.js"}></script>
		<div class="wrapper" id="swup" >
			<div class="">
			<Navbar client:load active={active} pages={pages} baseUrl={baseUrl}/>
			<Mobilnavbar client:load />
			</div>
		<main class="transition-fade">
			<div>
				<slot />
			</div>
		</main>
		</div>
		
		<!-- <div class = "container">
			<Grid direction = "left" text={"Här kan man ha text"} link={}/>
			<Grid direction ="right" text={"Här kan man också ha text"} link={}/>
		</div> -->
		<BaseFooter />
	</body>
</html>
<style lang="scss">
	@font-face {
		font-family: 'Gill Sans MT';
		src: url('gill-sans-mt.ttf');
		font-weight: normal;
		font-style: normal;
  	}

	.container{
		margin: 10%;
		margin-top: 10%;
		width: 8 em;

	}

	#sida {
		display: flex;
		flex-direction: row;
	}

	html {
		font-family: 'Gill Sans MT';
		background: transparent;
	}

	body {
		position: relative;
		height: 2000px;
		margin: 0;
		margin-top: 175px; // höjd av navbaren + dropdownen
		background-color: white;
		background: transparent;

	}

	main {
		margin: 0;
		padding: 0;
		max-width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

	}

	body::-webkit-scrollbar {
  	width: 16px;
	}

	body::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
	}

	body::-webkit-scrollbar-thumb {
	background-color: #d4aa70;
	border-radius: 100px;
	}
	
	/* page transition med swup */
	body {
  overflow-x: hidden;
}

.transition-fade {
  opacity: 1;
  transition: 500ms;
  transform: translateX(0);
  transform-origin: left;
}

.transition-nav {
	z-index: 5;
	opacity: 1;
	transition: .5s;
}

html.is-animating .transition-nav {
	opacity: 0;
	z-index: 5;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

.transition-swipe {
  transition: 500ms;
  transform: translateY(0);
}

html.is-animating .transition-swipe {
  transform: translateY(100px);
}

</style>

<style is:global>
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

<script>	

</script>