---
import Navbar from '../components/navbar.svelte'
import Sidebar from '../components/sidebar.svelte'
import Grid from '../components/grid.svelte'
import Mobilnavbar from '../components/mobilnavbar.svelte'
import BaseHead from '../components/baseHead.astro'
import BaseFooter from '../components/baseFooter.astro'


	const pages = import.meta.glob('../pages/**/index.astro', { eager: true})
	//console.log("inuti astro layout:", pages)


export interface Props {
	title: string;
	active: string;
}

const { active } = Astro.props
const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
	<BaseHead title={title}/>

	<body>
		<Navbar client:load active={active} pages={pages}/>
		<Mobilnavbar client:load />
		<main>
			<div>
				<slot />
			</div>
		</main>
		<!-- <div class = "container">
			<Grid direction = "left" text={"Här kan man ha text"} link={}/>
			<Grid direction ="right" text={"Här kan man också ha text"} link={}/>
		</div> -->
		<BaseFooter />
	</body>
</html>
<style lang="scss">
	@font-face {
		font-family: 'Gill Sans MT';
		src: url('gill-sans-mt.ttf');
		font-weight: normal;
		font-style: normal;
  	}

	.container{
		margin: 10%;
		margin-top: 10%;
		width: 8 em;

	}

	#sida {
		display: flex;
		flex-direction: row;
	}

	html {
		font-family: 'Gill Sans MT';
	}

	body {
		position: relative;
		height: 2000px;
		margin: 0;
		background-color: gainsboro;
		display: flex;

	}

	main {
		margin: 0;
		padding: 0;
		max-width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;

	}

	body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}
	

	BaseFooter {
		bottom: 0%;
		border-radius: 45px;
	}
</style>

<style is:global>
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}
</style>

<script>	
setInterval(logger, 500)
function logger(){
	// console.log(window.pageYOffset)
	// console.log("tja")
};

</script>