---
import Navbar from '../components/navbar.svelte'
import Sidebar from '../components/sidebar.svelte'
import Grid from '../components/grid.svelte'
import Mobilnavbar from '../components/mobilnavbar.svelte'
import BaseHead from '../components/BaseComponents/baseHead.astro'
import BaseFooter from '../components/BaseComponents/baseFooter.astro'
import '../globalStyles.css'



const baseUrl = import.meta.env.BASE_URL.replace(/\/$/, '');


const { active } = Astro.props;
const { title = "Kogvet Sektionen på Linköpings Universitet"} = Astro.props;
const { customHead = false } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<script src="../swupApp.js"></script>
	{!customHead && <BaseHead title={title}/>}
	<body>
		<header>
			<Navbar client:visible active={active} baseUrl={baseUrl}/>
			<!-- <Mobilnavbar client:load /> -->
		</header>
		<main class="transition-fade" id="swup">
			<slot />
		</main>
		<!-- <div class = "container">
			<Grid direction = "left" text={"Här kan man ha text"} link={}/>
			<Grid direction ="right" text={"Här kan man också ha text"} link={}/>
		</div> -->
		<BaseFooter />
	</body>
</html>
<style lang="scss">

	.container{
		margin: 10%;
		margin-top: 10%;
		width: 8em;
	}
	html {
		font-family: 'Gill Sans MT';
		
	}

	body {
		position: relative;
		min-height: 100vh;
		margin: 0;
		margin-top: 175px; // höjd av navbaren + dropdownen

	}

	main {
		margin: 0;
		padding: 0;
		max-width: 100%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		height: 100%;
	}

	body::-webkit-scrollbar {
  	width: 16px;
	}

	body::-webkit-scrollbar-track {
	background-color: #e4e4e4;
	border-radius: 100px;
	}

	body::-webkit-scrollbar-thumb {
	background-color: #d4aa70;
	border-radius: 100px;
	}
	
	/* page transition med swup */

.transition-main{
	opacity: 1;
	transition: .5s;
}
.transition-fade {
  opacity: 1;
  transition: 250ms;
  transform: translateX(0);
  transform-origin: left;
}

.transition-nav {
	z-index: 5;
	opacity: 1;
	transition: 250ms;
}

html.is-animating .transition-nav {
	opacity: 0;
	z-index: 5;
}

html.is-animating .transition-fade {
  opacity: 1;
  transform: translateX(100%);
}

html.is-leaving .transition-fade {
  opacity: 0;
  transform: translateX(0);
}

.transition-swipe {
  transition: 250ms;
  transform: translateY(0);
}

html.is-animating .transition-swipe {
  transform: translateY(100px);
}

</style>

<style is:global>
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

</style>

<script>	

</script>