---
import Base from './baseLayout.astro'
import Contentbox from '../components/content/Contentbox.astro'

const { title = "Kogvet Sektionen på Linköpings Universitet" } = Astro.props;
const { frontmatter } = Astro.props
---
<Base active={Astro.url.pathname}>
    <Fragment slot="head">
        <slot name="head" />
    </Fragment>
    <div id="container" slot="main">
        <div id="left-panel">
            <Contentbox>
                <slot name="left">Genvääääägar</slot>
            </Contentbox>
        </div>
        <div id="main">
            <Contentbox>
               <Fragment>
                 <slot name="content">Här var det tomt</slot>
                 {frontmatter && <slot>Här var det tomt</slot>} <!--- I denna slot som ej har ett namn
                                                     injekteras markdownen från markdown sidor-->
               </Fragment>
            </Contentbox>
        </div>
        <div id="right-panel">
            <Contentbox>
                <slot name="right">Sponsoooooorer</slot>
            </Contentbox>
        </div>
    </div>
</Base>

<style>

    #container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        margin: 30px;

    }

    #container > div {
        flex-grow: 1;
    }
    #main {
        margin: auto;
        justify-self: center;
        max-width: 50%;
    }
</style>