---
import Base from './baseLayout.astro'
import Contentbox from '../components/content/Contentbox.astro'
import TextBox from '@components/content/TextBox.svelte';

const { title = "Kogvet Sektionen på Linköpings Universitet" } = Astro.props;
const { frontmatter } = Astro.props
---
<Base active={Astro.url.pathname} title={`${frontmatter?.title || title} | KogVet`}>
    <Fragment slot='main'>
        <section class='wrapper'>
            <TextBox></TextBox>
        </section>
    </Fragment>
</Base>

<style>
    .wrapper {
        position: relative;
        height: 50%;
        width: 50%;
    }
    #container {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: center;
        margin: 30px;

    }

    #container > div {
        flex-grow: 1;
    }
    #main {
        margin: auto;
        justify-self: center;
        max-width: 50%;
    }
</style>