---
import { faHouse } from '@fortawesome/free-solid-svg-icons';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';

const instruktioner = await Astro.glob("../../data/cms/instruktioner.md")
const markdown = instruktioner.map(md=>md.rawContent())
---

<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Content Manager</title>
</head>
<body>
    <div id="data" data-md={markdown}>
    </div>
    <script is:inline src="https://unpkg.com/@staticcms/app@^1.0.0/dist/static-cms-app.js"></script>
    <script is:inline defer>
      setTimeout(() => {
      const link = document.createElement('link')
        link.type = 'text/css'
        link.rel = 'stylesheet'
        link.href = '/admin/styles.css'
        document.head.appendChild(link)
      },2500)
    </script>

</body>
</html>



<script>
    // import CMS from '@staticcms/app'
    import config from '../../data/cms/config'
    import { faPalette,
            faUsersRectangle,
            faCog,
            faPager, 
            faSitemap, 
            faUserGroup, 
            faNewspaper, 
            faCode,
            faPersonChalkboard } from '@fortawesome/free-solid-svg-icons';
    import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
    import ReactMarkdown from 'react-markdown'
    const markdown = document.getElementById('data').dataset.md
    CMS.init({config});

    //Testade olika syntax, den tredje var ju enklast så använd den
    CMS.registerIcon('cog', function () {
        return h(FontAwesomeIcon, {icon: faCog, size: "lg"})
    })
    CMS.registerIcon('usergroup', () => {return h(FontAwesomeIcon, {icon: faUserGroup, size: 'lg'})})
    CMS.registerIcon('newspaper', ()=>h(FontAwesomeIcon, {icon: faNewspaper, size: 'lg'}))
    CMS.registerIcon('sitemap', ()=>h(FontAwesomeIcon, {icon: faSitemap, size: 'lg'}))
    CMS.registerIcon('code', ()=>h(FontAwesomeIcon, {icon: faCode, size: 'lg'}))
    CMS.registerIcon('userrectangle', ()=>h(FontAwesomeIcon, {icon: faUsersRectangle, size: 'lg'}))
    CMS.registerIcon('chalkboard', ()=>h(FontAwesomeIcon, {icon: faPersonChalkboard, size: 'lg'}))
    
    const GitLabIcon = () => {
      return h('img', {src: '/gitlab.png', height: '20', width: '20'})
      
    }
    const NetlifyIcon = () => h('img', {src: '/netlify.webp', height: '20', width: '20'})
    CMS.registerIcon('netlify', NetlifyIcon)
    CMS.registerIcon('gitlab', GitLabIcon)

    const CustomPage = () => {
      return h(ReactMarkdown, {children: markdown});
    };
    const Nyheter = () => h('div', {style: {
      position: 'absolute',
      height: '95%',
      width: '95%'
    }}, h('iframe', {src: 'https://sektionshemsidan.netlify.app/for-medlemmar/nyheter/', height: '100%', width: '100%'}))
    CMS.registerAdditionalLink({
      id: 'instruktioner',
      title: 'Instruktioner',
      data: CustomPage,
      options: {
        icon: 'chalkboard',
      },
    });
    CMS.registerAdditionalLink({
      id: 'gitlab',
      title: 'GitLab ↗',
      data: 'https://gitlab.liu.se/Kodvet/sektionshemsidan',
      options: {
        icon: 'gitlab'
      }
    })
    CMS.registerAdditionalLink({
      id: 'netlify',
      title: 'Netlify ↗',
      data: 'https://app.netlify.com/teams/webbgruppen-kogvet/overview',
      options: {
        icon: 'netlify'
      }
    })


    CMS.registerPreviewTemplate('nyheter', Nyheter)
    console.log(config)

</script>
