---
import Layout from '../../layouts/baseLayout.astro';

const pdfsPaths = (import.meta.glob('/static/dokument/*', {eager: true, import: 'default'}))

const pdfs = Object.fromEntries(Object.entries(pdfsPaths).map(([key, value]) => 
[key.replace('static/', ''), String(value).split('/')[3].replace(/-/g,' ').replace(/.pdf/,'')]));
console.log(pdfs)
console.log(pdfsPaths)
---

<Layout title="Kogvet Sektionen på Linköpings Universitet" active={Astro.url.pathname}>
	<div class="container">
        <h1>här är dem</h1>
		<ul>
			{Object.entries(pdfs).map(([filepath, cleanedName])=>
			<li>
				<a href={filepath}>{cleanedName}</a>
			</li>
			)}
		</ul>
		
	</div>
</Layout>

<style>
	.container {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

</style>